{% extends "layout.html" %}
{% block content %}

{% if user.is_authenticated %}
    <h3>Username: {{ user.username}}</h3>
    <p><a href="{% url 'logout' %}">Log Out</a></p>

<h2>Add note:</h2>
<form action='add/' method="POST" class="addnote">
    {% csrf_token %}
    <input type="text" name="note">
    <input type="submit">
</form>

<table>
    {% for n in notes %}
    {{ n.text }}
<form action="delete/{{ n.id }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ n.id }}">
    <input type="submit" value="Delete">

</form>
    <br>
    {% endfor %} 
</table>


{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}